@import url('./normalize.css');
@import url('./font.css');

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: #2c4340 url('../img/clouds-bg.jpg') no-repeat center / cover;
}

input,
button,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
